-
  data = {
    flow: [
      'ご希望の日付を選択してヒラックスオンライン加盟説明会に申し込む',
      'オンライン加盟説明会に参加する',
      'ヒラックスに加盟して月収200万円を目指す'
    ],
    video: [
      { text: 'いま日本で最も手堅いヒラックスの事業内容とは？', link: '', time: '60' },
      { text: 'いまデイサービス市場が急成長している理由とは？', link: '', time: '300' },
      { text: 'ヒラックスの収益性に隠されたある仕掛けを大公開', link: '', time: '600' },
      { text: '他社を圧倒するヒラックスのフランチャイズについて', link: '', time: '900' },
      { text: 'あなたが参加するヒラックス加盟説明会の見どころ', link: '', time: '1200' },
    ],
    message: 'ヒラックスのデイサービスフランチャイズにご興味をお持ちいただき、誠にありがとうございます。<br>この事前説明動画では、ヒラックスの特長や強みを中心にお伝えしましたが、実際の運営面に関する詳細な情報は、後日開催のヒラックスオンライン加盟説明会にてご案内させていただきます。<br>加盟説明会では、フランチャイズ加盟の流れやサポート内容はもちろん、具体的な収支モデルや、他社には真似できないヒラックス独自のノウハウまで、全部を完全に公開します！<br>率直に申し上げて、これほどまでに早期の黒字化と高収益を実現できるデイサービスFCは他にありません。<br>もし介護業界に携わるのが初めてだとしても、ヒラックスのビジネスモデルとサポート体制があれば、きっと成功していただけるはずです。<br>だからこそ、この度デイサービス業界の常識を変える"新しいFC像"を打ち出せたと確信しています。<br>加盟説明会では、そのヒラックスの真髄をすべてお見せしたいと考えておりますので、ぜひともご参加ください。<br>皆様とお会いできる日を心よりお待ち申し上げております。',
    faq: [
      { q: '介護やデイサービスの経験が全くないのですが大丈夫でしょうか？', a: 'はい大丈夫です。ヒラックスのFCは未経験の方でも安心して開業・運営できるよう、徹底的なサポート体制を整えています。研修制度やマニュアルも充実しているので、経験がなくても問題ありません。' },
      { q: 'ヒラックスオンライン加盟説明会はスマホで参加できますか', a: 'はい、スマホからでも可能です。パソコンからでも参加できますのでそちらもご安心ください。' },
      { q: '介護の経験だけでなく、ビジネス経験も全くありません。それでも開業できますか？', a: 'はい、ヒラックスではビジネス経験のない方でも開業できるよう、FC本部がしっかりサポートいたします。 市場調査や物件選定、申請などの煩雑な手続きもお任せください。 また、ヒラックス独自の収益モデルを導入することで、経験の有無に関わらず高収益を上げられる仕組みを構築しています。' },
      { q: 'デイサービス経営に向いている人はどのようなタイプでしょうか？', a: '国からの支えられる事業ですので、安定的な収益をしっかり成果をあげたいという方は大歓迎です。 高齢者の暮らしを支える仕事に魅力を感じ、地域社会に貢献したいという想いをお持ちの方も最適です。' },
      { q: '質問したい場合はどうしたらいいですか？', a: 'ご質問は、オンライン説明会の際に遠慮なくお尋ねください。 また、説明会の申し込み後に開設される個別のLINEグループでも、随時質問を受け付けております。 些細なことでも構いませんので、気になる点はどんどんご相談ください。' },
      { q: 'ヒラックスオンライン加盟説明会への参加は顔出しが必要ですか？', a: '顔出しは任意です。ただ、事業内容をよりご理解いただくためにも、可能な範囲で顔出しにご協力いただけると助かります。' },
      { q: 'オンライン説明会の日程と申し込み方法を教えてください。', a: 'オンライン説明会の日程は、この下にある○○よりご確認いただけます。 説明会は週に数回開催しており、ご都合の良い日時をお選びください。 フォームに必要事項をご記入の上、送信していただければ申し込み完了です。 追ってリマインドのメールをお送りいたしますので、当日はお忘れなくご参加ください。' },
    ]
  }


-
  footer = {
    left: [
      { text: '事業説明動画の注目シーン5選', link: '#video' },
      { text: 'デイサービスフランチャイズとは？', link: '#about' },
      { text: 'ヒラックスのフランチャイズが手堅い理由', link: '#reason' },
    ],
    mid: [
      { text: 'ヒラックス2つの理由', link: '#reason-2' },
      { text: 'フランチャイズ5つの強み', link: '#strength' },
      { text: 'デイサービスFC加盟説明会の見どころ', link: '#point' },
    ],
    right: [
      { text: 'メッセージ', link: '#message' },
      { text: '加盟説明会参加まで流れ', link: '#flow' },
      { text: 'よくある質問', link: '#faq' },
    ]
  }