-
  data = {
    flow: [
      'ご希望の日付を選択してヒラックスオンライン加盟説明会に申し込む',
      'オンライン加盟説明会に参加する',
      'ヒラックスに加盟して月収200万円を目指す'
    ],
    video: [
      { text: 'いま日本で最も手堅いヒラックスの事業内容とは？', link: '' },
      { text: 'いまデイサービス市場が急成長している理由とは？', link: '' },
      { text: 'ヒラックスの収益性に隠されたある仕掛けを大公開', link: '' },
      { text: '他社を圧倒するヒラックスのフランチャイズについて', link: '' },
      { text: 'あなたが参加するヒラックス加盟説明会の見どころ', link: '' },
    ]
  }


-
  footer = {
    left: [
      { text: '事業説明動画の注目シーン5選', link: '' },
      { text: 'デイサービスフランチャイズとは？', link: '' },
      { text: 'ヒラックスのフランチャイズが手堅い理由', link: '' },
    ],
    mid: [
      { text: 'ヒラックス2つの理由', link: '' },
      { text: 'フランチャイズ5つの強み', link: '' },
      { text: 'デイサービスFC加盟説明会の見どころ', link: '' },
    ],
    right: [
      { text: 'メッセージ', link: '' },
      { text: '加盟説明会参加まで流れ', link: '' },
      { text: 'よくある質問', link: '' },
    ]
  }