-
  data = {
    flow: [
      'ご希望の日付を選択してヒラックスオンライン加盟説明会に申し込む',
      'オンライン加盟説明会に参加する',
      'ヒラックスに加盟して月収200万円を目指す'
    ],
  }


-
  footer = {
    left: [
      { text: '事業説明動画の注目シーン5選', link: '' },
      { text: 'デイサービスフランチャイズとは？', link: '' },
      { text: 'ヒラックスのフランチャイズが手堅い理由', link: '' },
    ],
    mid: [
      { text: 'ヒラックス2つの理由', link: '' },
      { text: 'フランチャイズ5つの強み', link: '' },
      { text: 'デイサービスFC加盟説明会の見どころ', link: '' },
    ],
    right: [
      { text: 'メッセージ', link: '' },
      { text: '加盟説明会参加まで流れ', link: '' },
      { text: 'よくある質問', link: '' },
    ]
  }