-
  data = {}


-
  footer = {
    left: [
      { text: '事業説明動画の注目シーン5選', link: '' },
      { text: 'デイサービスフランチャイズとは？', link: '' },
      { text: 'ヒラックスのフランチャイズが手堅い理由', link: '' },
    ],
    mid: [
      { text: 'ヒラックス2つの理由', link: '' },
      { text: 'フランチャイズ5つの強み', link: '' },
      { text: 'デイサービスFC加盟説明会の見どころ', link: '' },
    ],
    right: [
      { text: 'メッセージ', link: '' },
      { text: '加盟説明会参加まで流れ', link: '' },
      { text: 'よくある質問', link: '' },
    ]
  }